﻿@using PracticalAspNet.Shared.Features.Content.Example

<button @onclick="Toggle" class="@Class">
    <i class="material-icons">article</i>
    @NodeDto.Name
</button>

@code {

    [Parameter]
    public string Class { get; set; }

    [EditorRequired]
    [Parameter]
    public ExampleFolderDTO.NodeDTO NodeDto { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback<ExampleFolderDTO.NodeDTO> OnSelected { get; set; }

    private async Task Toggle()
    {
        OnSelected.InvokeAsync(NodeDto);
    }

}