﻿@using PracticalAspNet.Shared.Features.Content.Example

<button @onclick="Toggle" class="@Class">
    <i class="material-icons">@folderIcon</i>
    @NodeDto.Name
</button>

@code {

    [Parameter]
    public string Class { get; set; }
    
    [EditorRequired]
    [Parameter]
    public ExampleFolderDTO.NodeDTO NodeDto { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback<ExampleFolderDTO.NodeDTO> OnExpanded { get; set; }    
    
    [EditorRequired]
    [Parameter]
    public EventCallback<ExampleFolderDTO.NodeDTO> OnCollapsed { get; set; }

    bool expanded;
    string folderIcon => expanded ? "expand_more" : "chevron_right";

    private async Task Toggle()
    {
        expanded = !expanded;

        if (expanded)
        {
            await OnExpanded.InvokeAsync();
        }
        else
        {
            await OnCollapsed.InvokeAsync();
        }

    }

}