﻿@using PracticalAspNet.Shared.Features.Content.Example
@inject IJSRuntime JsRuntime
@inject IPrismJS PrismJs

<div class="bg-purple-gray-700 text-white text-base flex flex-col @Class" id="@Id">
    <pre class="bg-gray-800 px-4 pt-4">
        <code class="language-html">
            @((MarkupString)highlightedCode)
        </code>
    </pre>
    <pre class="bg-gray-800 px-4 pb-4 flex-1">
        <code class="language-csharp">
            @((MarkupString)highlightedCodeBlock)
        </code>
    </pre>
</div>

@code {

    [Parameter]
    public ExampleFolderDTO.NodeDTO Node { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Id { get; set; }

    private string highlightedCode;
    private string highlightedCodeBlock;

    private string html => Node.Content.Contains("@code") ? Node.Content[..Node.Content.IndexOf("@code")] : Node.Content;
    private string code => Node.Content.Contains("@code") ? Node.Content[Node.Content.IndexOf("@code")..] : "";

    IJSObjectReference module;


    protected override async Task OnParametersSetAsync()
    {
        Dictionary<string, string> contentTypes = new()
        {
            ["cs"] = "csharp",
            ["html"] = "html",
            ["razor"] = "razor"
        };

    // todo: Tidy this up :) But it works for now to highlight the code depending on its extension (and handles razor files)

        if (!string.IsNullOrEmpty(Node.Content))
        {
            var prismLangFound = contentTypes.TryGetValue(Path.GetExtension(Node.Slug).Replace(".", ""), out var prismLang);

            if (prismLangFound)
            {
                if (prismLang == "razor")
                {
                    highlightedCode = await PrismJs.Highlight(html, "html");
                    highlightedCodeBlock = await PrismJs.Highlight(code, "csharp");
                }
                else
                {
                    highlightedCode = await PrismJs.Highlight(Node.Content, prismLang);
                }
            }
            else
            {
                highlightedCode = await PrismJs.Highlight(Node.Content, "txt");
            }
        }
    }

}