﻿@using PracticalAspNet.Shared.Features.Content.Example

<ul class="pl-2 py-0 flex flex-col gap-1">
    <li class="list-none inline-flex align-middle p-1 @selectedClass(NodeDto)">
        @if (string.IsNullOrEmpty(NodeDto.Content))
        {
            <FolderNode NodeDto="NodeDto" OnExpanded="Expand" OnCollapsed="Collapse" class="inline-flex items-center h-6"/>
        }
        else
        {
            <FileNode NodeDto="NodeDto" OnSelected="SelectFile" Class="inline-flex items-center h-6"/>
        }
    </li>

    @if (expanded)
    {
        @foreach (var node in NodeDto?.Nodes ?? Enumerable.Empty<ExampleFolderDTO.NodeDTO>())
        {
            <Node NodeDto="@node" OnNodeSelected="OnNodeSelected" SelectedNode="@SelectedNode"/>
        }
    }
</ul>

@code {

    [EditorRequired]
    [Parameter]
    public ExampleFolderDTO.NodeDTO? NodeDto { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback<ExampleFolderDTO.NodeDTO> OnNodeSelected { get; set; }

    [Parameter]
    public ExampleFolderDTO.NodeDTO? SelectedNode { get; set; }

    Type nodeType => string.IsNullOrEmpty(NodeDto.Content)
        ? typeof(FolderNode)
        : typeof(FileNode);

    bool isSelectedNode(ExampleFolderDTO.NodeDTO node) => node.Slug == SelectedNode?.Slug;

    string selectedClass(ExampleFolderDTO.NodeDTO node) => isSelectedNode(node) ? "bg-gray-600" : "";

    bool containsSelectedNode(ExampleFolderDTO.NodeDTO node) => node != null && node.Slug.StartsWith(NodeDto.Slug);

    bool expanded;

    async Task Expand()
    {
        expanded = true;
    }

    async Task Collapse()
    {
        expanded = false;
    }

    private async Task SelectFile()
    {
        await OnNodeSelected.InvokeAsync(NodeDto);
    }

    protected override Task OnInitializedAsync()
    {
        expanded = containsSelectedNode(SelectedNode);
        return base.OnInitializedAsync();
    }

}