﻿@using PracticalAspNet.Shared.Features.Content.Example

<div class="text-white py-4 text-base flex flex-col items-start justify-between @Class">
    <Node NodeDto="@RootNode" OnNodeSelected="OnNodeSelected" SelectedNode="@SelectedNode"/>
    <button class="px-4 text-white" @onclick="OnHide">
        &lt;&lt;
    </button>
</div>

@code {

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public EventCallback OnHide { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback<ExampleFolderDTO.NodeDTO> OnNodeSelected { get; set; }

    [Parameter]
    public ExampleFolderDTO.NodeDTO RootNode { get; set; }

    [Parameter]
    public ExampleFolderDTO.NodeDTO? SelectedNode { get; set; }


}