﻿@inherits LayoutComponentBase

<div class="w-auto overflow-hidden h-screen">
    <div class="flex flex-col h-full overflow-hidden">
        
            <div class="text-2xl px-4 py-4 border-b-2 flex-initial flex flex-row justify-between align-middle">
                <a href="/">Practical ASP.NET Courseware Demo</a>
                <AccessControl/>
            </div>
        
            <div class="h-full overflow-hidden">
                @Body
            </div>
        
    </div>

</div>