using Bunit;

@code {
    
    [Fact]
    public void HelloWorldRenders()
    {
        using var ctx = new TestContext();
        var cut = ctx.Render(@<h2>Hello World</h2>);
        cut.MarkupMatches(@<h2>Hello World</h2>);
    }
}