@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('app.css');

div.info {
    border: 0.1em solid rebeccapurple;
    padding: 0.5em 2em 2em;
    margin-top: 1em;
    margin-bottom: 1em; 
}

div.takeaway {
    border: 0.1em solid orange;
    padding: 0.5em 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.takeaway h2 {
    margin-top: 0;
}

iframe {
    margin-top: 1em;
    margin-bottom: 1em;
}