﻿@page "/"

<div class="p-4">
    <h2 class="text-2xl my-4">Demo Courses</h2>

    <p class="mb-4">Click on one of the courses below to get started:</p>

    <ul>
        <li>
            <NavLink href="/course/imagesDemo" class="font-semibold text-xl">
                Images Demo Course
            </NavLink>
        </li>
        <li>
            <NavLink href="/course/demo" class="font-semibold text-xl">
                Demo Course
            </NavLink>
        </li>
    </ul>
</div>