﻿@tailwind base;


a {
    @apply text-primary dark:text-purple-200 font-semibold;
}

a:hover{
    @apply underline;
}

h1 {
    @apply font-sans text-gray-800 dark:text-gray-50 text-3xl mt-4 mb-2 font-semibold mt-6 mb-2 leading-normal;
}

h2 {
    @apply font-sans text-2xl text-gray-800 dark:text-gray-50 leading-relaxed mt-2 mb-2 font-semibold mt-6 mb-2 leading-normal;
}

h3 {
    @apply font-sans text-2xl text-gray-600 dark:text-gray-50 leading-relaxed mt-2 mb-2 font-semibold mt-6 mb-2 leading-normal;
}

hr {
    @apply my-6;
}

img {
    @apply my-6;
}

.landingPage p, .landingPage ul {
    @apply my-6;
}

#content img {
    @apply border m-auto dark:border-gray-800 my-12;
}

.landingPage li {
    @apply my-2;
}

p {
    @apply my-4 text-lg dark:text-gray-50 text-gray-700 leading-relaxed;
}

ul {
    @apply list-disc list-inside text-lg ml-4 leading-loose dark:text-gray-50;
}

ol {
    @apply list-decimal list-inside text-lg ml-4 leading-loose dark:text-gray-50;
}

strong {
    @apply text-gray-700 dark:text-gray-50 font-semibold;
}

blockquote {
    @apply px-6 border border-primary dark:border-gray-600 my-10 border-t-4 rounded dark:text-gray-50;
}

:not(pre) > code {
    @apply border border-dashed px-2 py-1 border-gray-500 rounded font-mono;
}

pre {
    @apply whitespace-pre-wrap;
}

@tailwind components;
@tailwind utilities;