﻿@using LearnUI.Contracts
@using LearnUI.API.Content
@inject Api Api
@inject IPrismJS PrismJS

@if (courseDetails != null)
{
    <div class="flex flex-row h-full">
        <ul class="w-64 overflow-auto border-r-2 pr-4 py-4 pl-4 h-full ">
            @foreach (var node in courseDetails.Curriculum.Nodes)
            {
                <li class="list-none">
                    <Node CourseNode="node" NavRoot="@baseUrl" OnNodeSelected="OnNodeSelected"/>
                </li>
            }
        </ul>
         <article class="overflow-auto px-8 flex-1 py-4"> 
           <div class="max-w-3xl pb-8"> 
                 @if (coursePage != null) 
                 { 
                     @if (coursePage.Locked && LockedUI != null)
                     {
                         @LockedUI(courseDetails)
                     }
                     else
                     {
                         <LessonView Page="coursePage"/>
                     }
                 } 
                 else if (string.IsNullOrEmpty(Slug)) 
                 { 
                     // if the slug's empty this is likely the home page 
                     <h2 class="text-2xl mt-2 mb-2">Welcome to @Course</h2> 
                     <p>Click one of the lessons on the left to get started.</p> 
                 } 
             </div> 
         </article> 
    </div>
}

@code {

    [Parameter]
    public string Course { get; set; }

    [Parameter]
    public string Slug { get; set; }

    [Parameter]
    public EventCallback<GetCourseResponse.CourseNodeDTO> OnNodeSelected { get; set; }

    [Parameter]
    public RenderFragment<GetCourseResponse> LockedUI { get; set; }
    
    private GetCourseResponse courseDetails;
    private GetPageResponse coursePage;
    
    private string _previousSlug;

    private string baseUrl => $"/course/{Course}";
    private GetCourseResponse.CourseNodeDTO currentNode;

    protected override async Task OnInitializedAsync()
    {
        courseDetails = await Api.GetCourse(new GetCourseRequest { Course = Course });
    }

    protected override async Task OnParametersSetAsync()
    {
        // When Blazor routes to this page (as a result of a navigation) the component isn't re-rendered from scratch
        // Instead, the existing page component's route parameters are updated, which may trigger a re-render
        // (if any of the UI is dependant on the changed parameters(s))
        // Here we want to check the slug which has just been set, and only fetch the relevant page content if the slug has changed from what we had before
        if (!string.IsNullOrEmpty(Slug) && Slug != _previousSlug)
        {
            coursePage = await Api.GetPage(new GetPageRequest { Course = Course, Slug = Slug });
            _previousSlug = Slug;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await PrismJS.HighlightAll();
        await base.OnAfterRenderAsync(firstRender);
    }

}