﻿@using LearnUI.API.Content

@if (CourseNode.Type == NodeType.Page)
{
    <Button @onclick="() => OnNodeSelected.InvokeAsync(CourseNode)">
        @CourseNode.Name
    </Button>
}
else
{
    @CourseNode.Name
}

<ul class="ml-6">
    @foreach (var node in CourseNode.Nodes)
    {
        <li class="list-none">
            <Node CourseNode="@node" OnNodeSelected="@OnNodeSelected"/>
        </li>
    }
</ul>

@code {
    
    [Parameter, EditorRequired]
    public GetCourseResponse.CourseNodeDTO CourseNode { get; set; }

    [Parameter, EditorRequired]
    public string NavRoot { get; set; }
    
    [Parameter]
    public EventCallback<GetCourseResponse.CourseNodeDTO> OnNodeSelected { get; set; }

}