﻿@using PracticalAspNet.Shared.Features.Content.Example
@using LearnUI.Contracts
@using LearnUI.Contracts.CodeExample
@inject Api Api

<div class="flex flex-row h-[32rem] overflow-hidden h-{42rem} bg-gray-600 w-full">

    @if (RootNode == null)
    {
        <div class="p-6 flex items-center">
            <p class="flex-1 text-white text-center text-2xl font-semibold">Loading Code</p>
        </div>
    } else if (_notFound)
    {
        <div class="p-6 flex items-center">
            <p class="flex-1 text-white text-center text-2xl font-semibold">Something went wrong loading this example sorry.</p>
        </div>
    }

    @if (RootNode != null)
    {
        @if (sideBarVisible)
        {
            <Sidebar class="flex-shrink-0 w-[330px] bg-gray-700" OnHide="ToggleSideBar" RootNode="RootNode" OnNodeSelected="NodeSelected" SelectedNode="@SelectedNode"/>
        }

        @if (!sideBarVisible)
        {
            <div class="flex justify-end flex-col bg-gray-700 w-14">
                <button class="p-4 text-white" @onclick="ToggleSideBar">
                    &gt;&gt;
                </button>
            </div>
        }

        @if (SelectedNode != null)
        {
            <NodeContent class="flex-1 overflow-auto" Node="SelectedNode"/>
        }
    }

</div>


@code {

    [Parameter]
    public string InitialFile { get; set; }

    [Parameter]
    public string Id { get; set; }
    
    [Parameter]
    public string Course { get; set; }

    private ExampleFolderDTO.NodeDTO? SelectedNode;
    private ExampleFolderDTO.NodeDTO RootNode;

    bool sideBarVisible = true;
    private bool _notFound;

    protected override async Task OnInitializedAsync()
    {
        var getCodeExampleResponse = await Api.GetCodeExample(new GetCodeExampleRequest { Identifier = Id, Course = Course});
        if (getCodeExampleResponse?.ExampleDto == null)
        {
            _notFound = true;
        }
        RootNode = getCodeExampleResponse.ExampleDto.RootNode;
        
        LocateAndSelectInitialFile(RootNode, InitialFile);
    }

    private void LocateAndSelectInitialFile(ExampleFolderDTO.NodeDTO node, string initialFile)
    {
        if (string.IsNullOrEmpty(initialFile))
            return;
        
        foreach (var childNode in node.Nodes)
        {
            if (childNode.Slug == initialFile)
            {
                SelectedNode = childNode;
            }
            else
            {
                LocateAndSelectInitialFile(childNode, initialFile);
            }
        }
    }

    async Task ToggleSideBar()
    {
        sideBarVisible = !sideBarVisible;
    }

    private void NodeSelected(ExampleFolderDTO.NodeDTO selectedNode)
    {
        SelectedNode = selectedNode;
    }


}