﻿@page "/course/{course}/{*slug}"
@using LearnUI.API.Content
@inject NavigationManager NavMan

<CourseContent Course="@Course" Slug="@Slug" OnNodeSelected="@NodeSelected">
    <LockedUI>
        <h3>Unlock @context.Name</h3>
        <p>Includes @context.Curriculum.LessonCount() Lessons</p>
    </LockedUI>
</CourseContent>

@code {
    
    [Parameter]
    public string Course { get; set; }

    [Parameter]
    public string Slug { get; set; }

    private void NodeSelected(GetCourseResponse.CourseNodeDTO node)
    {
        var path = Path.Join("/course/", Course, node.Slug);
        NavMan.NavigateTo(path);
    }

}